.dark-body
{
    background-color: black !important;
}

.dark-content
{
    background-color: rgb(19 19 21) !important;
    color: rgb(220, 220, 220) !important;
    box-shadow: #ffffff52 0px 0px 40px 0px !important;
}

.dark-code-lang
{
    color: rgb(180, 180, 180) !important;
    border-color: rgb(144, 144, 144) !important;
}

.dark-them-icon
{
    font-variation-settings:
        'FILL' 1 !important;
}