*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    /* border: 1px solid cyan; */
}

/* Colour Palate */
:root
{
    --color1: #381c02;
    --color2: #ffea9a;
    --color3: #945922;
    --color4: #e7b43a;
    --color5: #fff1bf;
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: var(--color5);
    font-family: 'Poppins', sans-serif;
    /* font-family: "Roboto", sans-serif; */
    font-size: 1.2rem;
    background-color: var(--color1);
}

body::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vw;
    background: url("../images/bg1.jpg");
    background-color: var(--color1);
    background-size: contain;
    background-attachment: fixed;
    background-blend-mode: screen;
    opacity: 0.2;
}

/* ------------------------------header---------------------------- */

#top
{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: -10px;
    background-color: rgba(0, 0, 0, 0.345);
    flex-wrap: wrap;
    z-index: 10;
    font-size: 1.2rem;
}
#top *::selection{
    background-color: transparent;
}

#top #left
{
    font-size: 2rem;
    display: flex;
    margin-right: 25px;
    font-weight: bold;
}

#top #left a
{
    color: var(--color5);

}

#top #right
{
    display: flex;
}

#top #right nav
{
    display: flex;
    /* width: 100%; */
}

#top #right nav .menu-btn i
{
    display: none;
    font-size: 2rem;
    /* width: 100%; */
}

#top #right nav ul
{
    display: flex;
    justify-content: space-between;
    /* max-width: 400px; */
}

#top #right nav ul li
{
    display: flex;
    /* flex-shrink: 1; */
    /* width: 100px; */
    justify-content: center;
    /* flex-grow: 1; */
}

#top #right nav ul li a
{
    color: var(--color5);
    margin: 0 2vw;
}

#top #right nav ul li a:hover
{
    color: white;
    text-shadow: 0 0 5px #e7b33abe, 0 0 10px #e7b33abe, 0 0 20px #e7b33abe;
}

#top #right nav ul li a:active
{
    color: #e7b43a;
    text-shadow: none;
}

#top input[type="checkbox"]
{
    display: none;
}

@media (max-width:660px)
{
    #top #right nav .menu-btn i
    {
        display: block;
    }

    #click:checked~.menu-btn i::before
    {
        content: "\f00d";
    }

    #top #right nav .menu
    {
        width: 60%;
        position: fixed;
        top: -40px;
        left: 100%;
        /* left: 0; */
        z-index: -1;
        /* background: var(--color1); */
        background-color: #111;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        height: 100dvh;
        transition: all 0.3s ease;
    }

    #top #right nav ul li
    {
        width: 100%;
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #top #right nav ul li a
    {
        /* width: 100%; */
        /* margin: 40px 0; */
        display: block;
    }

    #click:checked~.menu
    {
        left: 40% !important;
    }

    /* #top #right nav ul li a:active
    {
       
    } */
}

/* --------------------------------section-------------------------------- */
#container
{
    /* display: flex;
    flex-direction: column; */
    text-align: justify;
    /* height:max-content; */
}

#profile
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 60px;
    text-align: left;
}
#profile-name *::selection{
    background-color: transparent;

}
#profile img
{
    width: 45vw;
    z-index: -1;
}
#profile img::selection{
    background-color: transparent;
}
#profile-name
{
    text-align: justify;
    color: var(--color4);
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}

#profile-name #fname
{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    font-weight: bolder;
    letter-spacing: .15em;
    margin: 0 auto;
    animation:
        typing 2s steps(40, end) 1s 1 normal both,
        blink-car .75s step-end infinite;
}

#profile-name #lname
{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    letter-spacing: .15em;
    font-weight: bolder;
    margin: 0 auto;
    animation:
        typing 2s steps(40) 3s 1 normal both,
        blink-car .75s step-end infinite;
}

@keyframes typing
{
    from
    {
        width: 0;
    }

    to
    {
        width: 100%;
    }
}

@keyframes blink-car
{

    from,
    to
    {
        border-color: transparent
    }

    50%
    {
        border-color: orange;
    }
}

#content
{
    background-color: white;
    color: black;
    padding: 5vw;
    border-radius: 6vw 6vw 0 0;
    flex-grow: 1;
    min-height: 100vh;
    height: max-content;

}

#p1,
#p2
{
    font-size: 2.5vw;
    text-align: justify;
    font-weight: bold;
}


#welc
{
    font-size: 1.1rem;
}

/* ----------------------about----------------------- */
#about
{
    padding: 80px 0;

}

#about .row
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#about .row .col1
{
    flex-basis: 50%;
    margin: 0 30px;
}

#about .row .col2
{
    flex-basis: 40%;
    min-width: 250px;
    flex-grow: 1;
}

#about .row .col1 img
{
    width: 100%;
}

/* -----------------skills---------------------- */
#skills
{
    padding: 80px 10%;

}

#skills .row
{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap:wrap-reverse; */

}
#skills .row .col1
{
    flex-basis: 40%;
    min-width: 250px;
    flex-grow: 1;
}

#skills .row .col2
{
    /* flex-grow: 1; */
    max-width: 50vw;
    display: flex;
    flex-basis: 50%;
    /* margin: 0 30px; */
    align-items: center;
}


#skills .row .col2 img
{
    width: 100%;
    margin:0 20px;
}

#skill-container{
    padding:0 5% 0 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:center; */
}
.code-lang{
    display: flex;
    /* flex-grow: 1; */
    /* max-width:fit-content; */
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 3px;
    margin: 5px;
    border: 2px solid rgb(63, 63, 63);
    color: rgb(63, 63, 63);
    border-radius: 5px;
}

/* ---------------------------------footer--------------------------------- */
footer
{
    background: #0f0d00;
    font-family: "Roboto", sans-serif;
    color: #f1faee;
    padding: 32px;
}

footer .social img
{
    height: 30px;
}
footer img::selection{
    background-color: transparent;

}
footer .footer-container
{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}

footer .footer-container .footer-top
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .logo
{
    font-size: 36px;
    font-weight: 800;
}

footer .footer-container a
{
    color: #f1faee;
    text-decoration: none;
}

footer .footer-container a:hover
{
    text-decoration: underline;
}

footer .footer-container ul
{
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-bottom: 24px;
}

footer .footer-container ul li
{
    margin: 10px 0;
}

footer .footer-container h3.quick-links-h3::before
{
    content: url("../images/quick-links-icon.png");
    filter: sepia();
}

footer .footer-container h3.contact-h3::before
{
    content: url("../images/contact-icon.png");
    filter: sepia();
}

footer .footer-container h3
{
    position: relative;
}

footer .footer-container h3::before
{
    position: absolute;
    transform: translate(-24px, -5px);
}

footer .footer-bottom
{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

footer .social a:hover
{
    text-decoration: none;
    transform: scale(1.1);
}

footer .social a
{
    margin: 0 16px;
    display: inline-block;
    transition: all 500ms;
}

@media (max-width: 850px)
{
    footer .footer-container .footer-top
    {
        grid-template-columns: 1fr 1fr;
    }

    footer .social img
    {
        height: 30px;
    }
}

@media (max-width: 600px)
{
    footer .footer-container .footer-top
    {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .footer-bottom .copyright
    {
        font-size: 16px;
    }

    footer .social
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* height: 30px; */
    }
}

@media (max-width:300px)
{

    #top *,
    footer *,
    #container *
    {
        overflow: hidden;
    }
}