*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    /* border: 1px solid cyan; */
}

/* Colour Palate */
:root
{
    --color1: #381c02;
    --color2: #ffea9a;
    --color3: #945922;
    --color4: #e7b43a;
    --color5: #fff1bf;
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: var(--color5);
    font-family: 'Poppins', sans-serif;
    /* font-family: "Roboto", sans-serif; */
    font-size: 1.2rem;
    background-color: var(--color1);
}

body::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vw;
    background: url("../images/bg1.jpg");
    background-color: var(--color1);
    background-size: contain;
    background-attachment: fixed;
    background-blend-mode: screen;
    opacity: 0.2;
}

/* ------------------------------header---------------------------- */

#top
{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: -10px;
    background-color: rgba(0, 0, 0, 0.345);
    flex-wrap: wrap;
    z-index: 10;
    font-size: 1.2rem;
}

#top *::selection
{
    background-color: transparent;
}

#top #left
{
    font-size: 2rem;
    display: flex;
    margin-right: 25px;
    font-weight: bold;
}

#top #left a
{
    color: var(--color5);

}

#top #right
{
    display: flex;
}

#top #right nav
{
    display: flex;
}

#top #right nav .menu-btn i
{
    display: none;
    font-size: 2rem;
}

#top #right nav ul
{
    display: flex;
    justify-content: space-between;
}

#top #right nav ul li
{
    display: flex;
    justify-content: center;
}

#top #right nav ul li a
{
    color: var(--color5);
    margin: 0 2vw;
}

#top #right nav ul li a:hover
{
    color: white;
    text-shadow: 0 0 5px #e7b33abe, 0 0 10px #e7b33abe, 0 0 20px #e7b33abe;
}

#top #right nav ul li a:active
{
    color: #e7b43a;
    text-shadow: none;
}

#top input[type="checkbox"]
{
    display: none;
}

@media (max-width:660px)
{
    #top #right nav .menu-btn i
    {
        display: block;
    }

    #click:checked~.menu-btn i::before
    {
        content: "\f00d";
    }

    #top #right nav .menu
    {
        width: 60%;
        position: fixed;
        top: -40px;
        left: 100%;
        z-index: -1;
        background-color: #111;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        height: 100dvh;
        transition: all 0.3s ease;
    }

    #top #right nav ul li
    {
        width: 100%;
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #top #right nav ul li a
    {
        display: block;
    }

    #click:checked~.menu
    {
        left: 40% !important;
    }

}

/* --------------------------------section-------------------------------- */
#container
{
    text-align: justify;
}

#profile
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 60px;
    padding-top: 20px;
    text-align: left;
}

#profile-name *::selection
{
    background-color: transparent;

}

#profile img
{
    width: 45vw;
    z-index: -1;
}

#profile img::selection
{
    background-color: transparent;
}

#profile-name
{
    text-align: justify;
    color: var(--color4);
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}

#profile-name #fname
{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    font-weight: bolder;
    letter-spacing: .15em;
    margin: 0 auto;
    animation:
        typing 2s steps(40, end) 1s 1 normal both,
        blink-car .75s step-end infinite;
}

#profile-name #lname
{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    letter-spacing: .15em;
    font-weight: bolder;
    margin: 0 auto;
    animation:
        typing 2s steps(40) 3s 1 normal both,
        blink-car .75s step-end infinite;
}

@keyframes typing
{
    from
    {
        width: 0;
    }

    to
    {
        width: 100%;
    }
}

@keyframes blink-car
{

    from,
    to
    {
        border-color: transparent
    }

    50%
    {
        border-color: orange;
    }
}

.btn button
{
    background-color: var(--color4);
    border: 3px solid black;
    border-radius: 50px;
    line-height: 1.2rem;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.05rem;
    transition: all 0.3s;
}

.btn a
{
    margin: 10px;
}

.btn button:hover
{
    scale: 1.1;
}

@media (max-width:400px)
{
    .btn button
    {
        font-size: 3.5vw;
        line-height: normal;
        padding: 2vw;
        margin: 1vw;
        overflow: hidden;
    }
}

#content
{
    background-color: white;
    color: black;
    padding: 5vw;
    border-radius: 6vw 6vw 0 0;
    flex-grow: 1;
    min-height: 100vh;
    height: max-content;

}

#p1,
#p2
{
    font-size: 2.5vw;
    text-align: justify;
    font-weight: bold;
}


#welc
{
    font-size: 1.1rem;
}

/* ----------------------about----------------------- */
#about
{
    padding: 70px 0px;
    margin: 5% 0;

}

#about .row
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#about .row .col1
{
    flex-basis: 50%;
    max-width: 50dvw;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#about .row .col2
{
    flex-basis: 40%;
    min-width: 250px;
    flex-grow: 2;
}

#about .row .col1 img
{
    width: 100%;
}

/* -----------------skills---------------------- */
#skills
{
    padding: 70px 0;
    margin: 5% 0;

}

#skills .row
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

}

#skills .row .col1
{
    flex-basis: 40%;
    min-width: 250px;
    flex-grow: 1;
}

#skills .row .colmid{
    width: 10%;
}

#skills .row .col2
{
    flex-grow: 1;
    max-width: 50dvw;
    display: flex;
    flex-basis: 50%;
    align-items: center;
}


#skills .row .col2 img
{
    width: 100%;
    margin: 0 20px;
}

#skill-container
{
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.code-lang
{
    font-family: 'Consolas';
    line-height: 1.75rem;
    display: flex;
    flex-grow: 1;
    max-width: 13ch;
    min-width: 5ch;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 5px;
    margin: 5px;
    border: 2px solid rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    border-radius: 10px;
    transition: all 0.125s;
}

.code-lang:hover
{
    scale: 1.15;
}


/* -------------------------------Projects--------------------------- */
#projects
{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    padding: 70px 0px;
}

#projects #cards
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects #cards .box
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: gray;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    height: 25vw;
    width: 20vw;
    justify-content: end;
    transition: all 0.5s;
    box-shadow: black 0px -8vw 6vw inset;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.box .hide
{
    display: none;
    font-size: 1rem;

}

.box a
{
    text-decoration: none;
    color: white;
    display: contents;
}

#projects #cards .box:hover
{
    width: 50vw;
    scale: 1.3;
    position: relative;
    box-shadow: #1111116d 0px 0px 50px 20px, black 0 -12vw 8vw 0 inset;
}

#projects #cards .box:hover .hide
{
    display: contents !important;
}

#projects #cards #pro1
{
    background: gray url('../images/pro1.png') no-repeat top center /cover;
}

#projects #cards #pro2
{
    background: gray url('../images/pro2.png') no-repeat top center /cover;
}

#projects #cards #pro3
{
    background: gray url('../images/pro3.png') no-repeat top left /cover;
}

#projects #cards #pro4
{
    background: gray url('../images/pro4.png') no-repeat top left /cover;
}

#projects #cards #pro5
{
    background: gray url('../images/pro5.png') no-repeat top center /cover;
}

@media (max-width:660px)
{
    #projects #cards
    {
        flex-wrap: wrap;
        flex-grow: 1;
        box-sizing: border-box;
        justify-content: left;
    }

    #projects #cards .box
    {
        flex-grow: 1;
        margin: 2.5%;
        width: 45%;
        max-width: 45%;
        height: 180px;
    }

    #projects #cards .box:hover
    {
        height: 200px;
    }
}


/* ----------------------------- contacts------------------------------- */
#contact{
    margin: 5% 0;
    padding: 70px 0px;
}
/* ---------------------------------footer--------------------------------- */
footer
{
    background: #0f0d00;
    font-family: "Roboto", sans-serif;
    color: #f1faee;
    padding: 32px;
}

footer .social img
{
    height: 30px;
}

footer img::selection
{
    background-color: transparent;

}

footer .footer-container
{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}

footer .footer-container .footer-top
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .logo
{
    font-size: 36px;
    font-weight: 800;
}

footer .footer-container a
{
    color: #f1faee;
    text-decoration: none;
}

footer .footer-container a:hover
{
    text-decoration: underline;
}

footer .footer-container ul
{
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-bottom: 24px;
}

footer .footer-container ul li
{
    margin: 10px 0;
}

footer .footer-container h3.quick-links-h3::before
{
    content: url("../images/quick-links-icon.png");
    filter: sepia();
}

footer .footer-container h3.contact-h3::before
{
    content: url("../images/contact-icon.png");
    filter: sepia();
}

footer .footer-container h3
{
    position: relative;
}

footer .footer-container h3::before
{
    position: absolute;
    transform: translate(-24px, -5px);
}

footer .footer-bottom
{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

footer .social a:hover
{
    text-decoration: none;
    transform: scale(1.1);
}

footer .social a
{
    margin: 0 16px;
    display: inline-block;
    transition: all 500ms;
}

@media (max-width: 850px)
{
    footer .footer-container .footer-top
    {
        grid-template-columns: 1fr 1fr;
    }

    footer .social img
    {
        height: 30px;
    }
}

@media (max-width: 600px)
{
    footer .footer-container .footer-top
    {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .footer-bottom
    {
        justify-content: space-around;
    }

    footer .footer-bottom .copyright
    {
        font-size: 16px;
    }

    footer .social
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}


@media (max-width:300px)
{

    #top *,
    footer *,
    #container *
    {
        overflow: hidden;
    }

}